* {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #F5F8FF;
}

#banner-section {
    background-image: url("/Assets/Hero-bg.png");
    height: 700px;
}

#banner-content {
    width: 80%;
    padding: 50px 0px;
    
}

.navbar h1,
.navbar button {
    margin: 0;  
}


#logo {
    font-weight: 800;
    font-size: xx-large;
    color: #4E47FF;
    text-transform: uppercase;
}

.btn-primary {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#hero {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 200px 0px;
}

#hero h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    color: #252432;
}

#action-section {
    width: 80%;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#action-text-container,
#action-image-container {
    margin: 0; 
}

#action-image-container img {
    border-radius: 48px;
}

#action-text-container h2 {
    color: #252432;
    font-size: 42px;
}

#action-text-container p {
    font-size: 24px;
    font-weight: 300;
    color: #252432;
    opacity: 60%;
}

#productive-section {
    width: 90%;
    margin: 50px;
}

#productive-content {
        width: 90%;
    padding: 70px 80px;
    background-color: rgb(78, 71, 255, 0.1);
    border-radius: 30px;
}

#productive-content h1 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}


#card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    margin: 0;
    text-align: center;
}

.card h2 {
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}

.card p {
    font-weight: 300;
    opacity: 70%;
}

#review-section {
    width: 90%;
}

#review-section-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}

#review-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review-card {
    background-color: #fff;
    margin: 0;
    padding: 30px;
    border-radius: 15px;
    color: #1E1E1E;
}

.review-card div {
    margin: 0;
}

#review-user-container {
    display: flex;
    margin: 0;
    gap: 20px;
}

#review-user-container img {
    border-radius: 100%;
    width: 50px;
}

#reviewer-name {
    color: #757575;
    font-weight: bold;
}

#review-date {
    color: #b3b3b3;
}